services:
  ticket-assignment-service:
    image: ticket-assignment:dev
    container_name: ticket-assignment
    build: ./call-center-server
    ports:
      - "8000:8000"
    tty: true
    command: uvicorn main:app --host 0.0.0.0 --reload
    volumes:
      - ./call-center-server:/usr/src/app
    environment:
      - ENV=development
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb:8000
      - DYNAMODB_STATE_TABLE=call-center-state
      - DYNAMODB_EVENTS_TABLE=events-bus
      - DYNAMODB_AUDIT_TABLE=audit
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_TOPIC=call-center-events
      - KAFKA_GROUP_ID=call-center-service
    depends_on:
      - dynamodb
      - dynamodb-init
      # - kafka
    networks:
      - call-center-net

  dynamodb:
    image: amazon/dynamodb-local:2.5.2
    container_name: dynamodb-call-center-local
    ports:
      - "8001:8000"
    networks:
      - call-center-net

  dynamodb-init:
    image: amazon/aws-cli:2.17.26
    container_name: dynamodb-init
    depends_on:
      - dynamodb
    volumes:
      - ./deploy/dynamodb-init.sh:/scripts/dynamodb-init.sh
    environment:
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb:8000
    command: sh /scripts/dynamodb-init.sh
    networks:
      - call-center-net

  # zookeeper:
  #   image: bitnami/zookeeper:latest
  #   container_name: call-center-zookeeper
  #   environment:
  #     - ALLOW_ANONYMOUS_LOGIN=yes
  #   networks:
  #     - call-center-net

  # kafka:
  #   image: bitnami/kafka:latest
  #   container_name: call-center-kafka
  #   depends_on:
  #     - zookeeper
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     - KAFKA_BROKER_ID=1
  #     - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
  #     - ALLOW_PLAINTEXT_LISTENER=yes
  #     - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
  #     - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
  #     - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
  #   networks:
  #     - call-center-net

networks:
  call-center-net:
    name: call-center-net
    driver: bridge

volumes:
  data:
